@import 'tailwindcss';

@theme {
  --radius-0.5xl: 0.625rem;
  --radius-2.5xl: 1.25rem;

  --shadow-custom-one: 0 25px 25px rgba(0, 0, 0, 0.0477);
  --shadow-custom-two: 8px 8px 0 rgba(0, 0, 0, 1);

  --text-sm-extra: 0.9375rem;
  --text-1.5xl: 1.375rem;

  --color-yellow-custom: #f4d04e;
}
